.header-main {
  width: 1136px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.header-main__logo-link {
  display: block;

  width: 59px;
  height: 34px;

  margin-right: 22%;
}

.auth-button {
  margin-left: 16%;
}